*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
} 
body{
    background-image:url(../img/computer.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
} 
.sidebar{
    position:fixed;
    left:0;
    width:250px;
    height:100%;
    background:rgb(223, 163, 213);
} 
.sidebar header{
    font-size: 30px;
    color:blueviolet;
    text-align:center;
    line-height: 70px;
    background:rgb(245, 233, 73);
    user-select: none;
} 
.sidebar ul a{
    display:block;
    height:100%;
    width:100%;
    line-height: 65px;
    font-size: 30px;
    color:darkblue;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgb(23, 23, 104);
    border-bottom: 1px solid black;
} 
ul li:hover a{
    padding-left: 50px;
} 
.sidebar ul a li {
    margin-right: 16px;
} 
#check{
    display:none;
} 
label #btn,label #cancel{
    position:absolute;
    cursor:pointer;
} 
label #btn{
    left:40px;
    top:25px;
    font-size: 35px;
    color;white;
    padding:6px 12px;
    transitiion:all .5s;
} 
label #cancel{
    z-index: 1111;
    left:195px;
    top:17px;
    font-size: 30px;
    color:#0a5275;
    padding:4px 9px;
} 
#check:checked  .sidebar{
    left:0;
} 
#check:checked  .sidebar{
    left:0;
} 
#check:checked label #cancel{
    left:250px;
    opacity:0;
    pointer-events:none;
} 
#check:checked label{
    left:195px;
}